@charset "UTF-8";
/* CSS Document */
body{
	margin: 0px;
	background-color: black;
}

.menu-bar ul{
	
	list-style-type: none;
	background-color: #837176;
	padding: 30px;
	margin: 0px;
	overflow: hidden;
	height: 110px;
	display: flex;
	justify-content: flex-end;
	
}

.menu-bar a{
	
	color: white;
	text-decoration: none;
	padding: 40px;
	display: inline-block;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	
	
	
}

.menu-bar a:hover{
	background-color: #544349;
	
}

.menu-bar li{
	
	float: left;
	
}

.logo{
	margin:-30px;
	display:block;
	margin-right: auto;
	padding:0px;
	
}

.SOME{
	
	margin-top: 100px;
	text-align: center;
	
	
}

.adresse-linje{
	
	color: whitesmoke;
	list-style-type: none;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	
}

@keyframes fade-up{
	0%{
		opacity: 0;
		transform: translateY(30px) scale(0.9);
	}
	100%{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}
.info, .forside-billede{
	
	animation: fade-up 0.5s;
}

.samlet-info{
	
	color: white;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	gap: -80px; 
}

.info{
	
	list-style-type: none;
	margin-right: -100px;
	z-index: 10; 
	font-size: 25px;
	
}

.info li{
	
	margin: 30px;
	
}




	



